@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  background: black;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}



.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content:space-between;
  background-color: transparent;
  align-self: center;
}

.hdr-alt{

  padding-block-end: 50px;
  width: 1200px;
 height: 15px;
  margin: 0 auto;
  display:flex;
background-color: #1a1a1a;
}


button{
  position: relative;
 padding: 10px;
 margin-right: 20px;
  font-size: 20px;
 background-color: #1a1a1a;
 border-style: absolute;
 border-radius: 5px;
 box-shadow: 0px 0px 120px -55px rgba(199, 16, 13, 0.7);
}

button:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 16, 13, 0.7);
}


#box {
  max-width: 300px;
  position: relative;
  padding-top: 8px;
  padding-left: absolute;

  }

  #box .fa-search {
  position: absolute;
  top: 22px;
  left: 512px;
  font-size: 20px;
  color:rgb(53, 53, 53);
  rotate: 90deg;
  }

  #search {
  width:300px;
  box-sizing: border-box;
  border: 2px solid rgb(55, 55, 55);
  border-radius: 15px;
  font-size:18px;
  padding: 12px 20px 12px 40px;
  }

 


.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
 }
.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
} 

.buttons {
  background-color: #e50914;
  padding: 7px 17px;
  color: white;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
}


hr {
  border-style: double;
  border-width: 5px;
  box-shadow: 0px 0px 5px 5px rgba(255, 0, 0, 0.5);
}


footer {
  position: absolute;
   width: 900px;
   border-radius: 20px;
   background-color: rgb(0, 0, 0);
    margin-top: 3000px;
    margin-left: 350px;
    padding: 30px;
    box-shadow: 0px 0px 120px -55px #e50914;
    
 }
 
 footer img {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin: 20px 0 20px 0;
   height: 30px;
   width: auto;
 }
 
 #line {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 400px;
   background-color: gray;
   height: 2px;
   margin-bottom: 30px;
 }
 
 h3 {
   color: darkgray;
   margin-left: 10vw;
 }
 
 #links {
   position: absolute;
   right: 10vw;
  margin-top: -20px;
 }
 
 #links a {
   color: darkgray;
 }
 
 footer span {
   margin-left: 30px;
 }
 
 
 


.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

.movie_card {
  position: relative;
  display: block;
  float: left;
  width: 40%;
  height: 40%;
  margin: 80px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
    margin-right: 10px;
    max-height: 350px;
}
.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 25px;
  height: 50%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 65%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 50%;
    background-position: -120% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 95%;
    margin: 70px auto;
    min-height: 350px;
    height: auto;
  }

  .blur_back {
    width: 50%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 100%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}

.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

#bright {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
  }
  #bright:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }

.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}

#tomb {
    box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
  }
  #tomb:hover {
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
  }

.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}

#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 200px;
}
#ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}


.mother_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSsUXpN9b69Vr3Km6l3zEZr_8yuo1cywKmA3ofsxKDcgC5heBUajlGq8VffeucNjG7LJrxj24VIGhFfADCW9Kk1FgMF4GRGm_P8q.jpg?r=db3pg");
}

#mother{
  box-shadow: 0px 0px 150px -45px rgba(148, 255, 235, 0.7);
  margin-bottom: 200px;
}
#mother:hover {
  box-shadow: 0px 0px 120px -55px rgba(148, 255, 235, 0.7);
}





.fast-9_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABcWfObbFFIqXROvWhicMn4Hd1fQGmGNNfuSCx9fxd8G1XuWujlTQtp0CWtIGUk2eWtfKnZxVO5kQu-cg_sav0Tkf65CfXGpey7qb.jpg?r=ecc");
}

#fast-9{
  box-shadow: 0px 0px 150px -45px rgba(255, 237, 38, 0.929);
  margin-bottom: 200px;
}

#fast-9:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 237, 38, 0.929);
}




.rnotice_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQu9mse0lSb9MtIXnowfBtmd6q_g_5bdhpYWNxFjVNF76JyhXUZudM5h7rZG3eIP_m9acUlTRss79HUoxXlTxtYf_6JfKJE6g9if.jpg?r=590");
}

#rnotice{
  box-shadow: 0px 0px 150px -45px rgba(243, 36, 53, 0.929);
  margin-bottom: 200px;
}

#rnotice:hover {
  box-shadow: 0px 0px 120px -55px rgba(243, 36, 53, 0.929);
}