@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");



* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 0.7rem;
  font-weight: center;
  justify-content: center;

}
.navbar {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  min-height: 100px;
  align-items: center;
  justify-content:space-between;
  background-color: transparent;
  align-self: center;
  
}

.hdr-alt{

  padding-block-end: 50px;
  width: 1100px;
 height: 15px;
  margin: 0 auto;
  display:flex;
background-color: #1a1a1a;
}


button{
  position: relative;
 padding: 10px;
 margin-right: 20px;
  font-size: 20px;
 background-color: #1a1a1a;
 border-style: absolute;
 border-radius: 5px;
 box-shadow: 0px 0px 120px -55px rgba(199, 16, 13, 0.7);
}

button:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 16, 13, 0.7);
}


form{
  position: relative;
  top: 28px;
  left: 410px;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 3px solid rgba(199,16, 13, 0.7);

}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1.3em;
  border-radius: 20px;
  
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover,
form:valid{
  width: 200px;
  cursor: pointer;
}

form:hover input,
form:valid input{
  display: block;
}

form:hover .fa,
form:valid .fa{
  background: #07051a;
  color: white;
}


.asearch {
display: none;
position: absolute;
top: 70px;
bottom:0;
left: 0;
right: 0;
font-size: 20px;
color: white;
text-align: center; 
width: 100%;
}

form:valid a {
display: block;
}

 


.navbar li {
  margin: 0 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.navbar li:nth-child(2) {
  margin-top: -10px;
  margin-right: 70px;
 }
.logo img {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
} 
.button-div{
    
  width:200px;
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:7px;
  padding:7px;
  padding-right: 20px;
}

.signup-button{
  width:100%;
  height:40px;
  right: 40px;
  border:none;
  border-radius:5px;
  background-color:#e9ecf0;
  font-size:17px;
  font-weight:600;
  cursor:pointer;
}

.login-button{

  width:100%;
  height:40px;
  right: 50px;
  border:#e50914;
  border-radius:5px;
  font-size:17px;
  font-weight:600;
  color:#fff;
  background-color:#777;
  cursor:pointer;
}


.login-button:hover{
  
  background-color:rgba(199, 16, 13, 0.7);
}


.signup-button:hover{
  
  background-color:rgba(199, 16, 13, 0.7);
}

hr {
  border-color: #000;
  border-style:unset;
  border-width: 4px;
  box-shadow: 0px 0px 5.5px 5.5px rgba(255, 0, 0, 0.5);
  border-radius: 5px;
}

#movie{
 max-width: auto;
}

.movie_card {
  position: relative;
  display: block;
  float: left;
  width: 45%;
  height: 40%;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.4s;
    margin-right: 15px;
    max-height: 330px;
    margin-left: 45px;
    padding-bottom: 100px;
}
.movie_card:hover {
  transform: scale(1.02);
  transition: all 0.4s;
}
.movie_card .info_section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  z-index: 2;
  border-radius: 10px;
}
.movie_card .info_section .movie_header {
  position: relative;
  padding: 25px;
  height: 40%;
}
.movie_card .info_section .movie_header h1 {
  color: #fff;
  font-weight: 400;
}
.movie_card .info_section .movie_header h4 {
  color: #9ac7fa;
  font-weight: 400;
}
.movie_card .info_section .movie_header .minutes {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.13);
}
.movie_card .info_section .movie_header .type {
  display: inline-block;
  color: #cee4fd;
  margin-left: 10px;
}
.movie_card .info_section .movie_header .locandina {
  position: relative;
  float: left;
  margin-right: 20px;
  height: 120px;
  box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}
.movie_card .info_section .movie_desc {
  padding: 30px;
  height: 30%;
}
.movie_card .info_section .movie_desc .text {
  color: #cfd6e1;
}
.movie_card .info_section .movie_social {
  height: 10%;
  padding-left: 15px;
  padding-bottom: 20px;
}
.movie_card .info_section .movie_social ul {
  list-style: none;
  padding: 0;
}
.movie_card .info_section .movie_social ul li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
}
.movie_card .info_section .movie_social ul li:hover {
  transition: color 0.3s;
  color: rgba(255, 255, 255, 0.8);
}
.movie_card .info_section .movie_social ul li i {
  font-size: 19px;
  cursor: pointer;
}
.movie_card .blur_back {
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100%;
  right: 0;
  background-size: cover;
  border-radius: 11px;
}

@media screen and (min-width: 768px) {
  .movie_header {
    width: 65%;
  }

  .movie_desc {
    width: 50%;
  }

  .info_section {
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
  }

  .blur_back {
    width: 50%;
    background-position: -140% 10% !important;
  }
}
@media screen and (max-width: 768px) {
  .movie_card {
    width: 55%;
    margin: 70px auto;
    min-height: 350px;
    height: 35%;
  }

  .blur_back {
    width: 50%;
    background-position: 50% 50% !important;
  }

  .movie_header {
    width: 90%;
    margin-top: 85px;
  }

  .movie_desc {
    width: 100%;
  }

  .info_section {
    background: linear-gradient(to top, #141413 50%, transparent 100%);
    display: inline-grid;
  }
}

.bright_back {
  background: url("https://occ-0-2433-448.1.nflxso.net/art/cd5c9/3e192edf2027c536e25bb5d3b6ac93ced77cd5c9.jpg");
}

#bright {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
    margin-bottom: 150px;
  }
  #bright:hover {
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
  }


.tomb_back {
  background: url("https://fsmedia.imgix.net/cd/c9/5e/ba/4817/4d9a/93f0/c776ec32ecbc/lara-crofts-neck-looks-unnatural-in-the-new-poster-for-tomb-raider.png");
}

#tomb {
    box-shadow: 0px 0px 150px -45px rgba(19, 160, 134, 0.6);
    margin-bottom: 150px;
  }
  
  #tomb:hover {
    box-shadow: 0px 0px 120px -55px rgba(19, 160, 134, 0.6);
    
  }




.ave_back {
  background: url("https://www.gannett-cdn.com/-mm-/c03fd140debe8ad4c05cf81a5cad7ad61a12ce52/c=0-1580-2985-3266&r=x803&c=1600x800/local/-/media/2017/06/09/USATODAY/USATODAY/636326272873599176-Black-Panther-Teaser.jpg");
}

#ave {
  box-shadow: 0px 0px 150px -45px rgba(199, 147, 75, 0.7);
  margin-bottom: 150px;
}
#ave:hover {
  box-shadow: 0px 0px 120px -55px rgba(199, 147, 75, 0.7);
}




.mother_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSsUXpN9b69Vr3Km6l3zEZr_8yuo1cywKmA3ofsxKDcgC5heBUajlGq8VffeucNjG7LJrxj24VIGhFfADCW9Kk1FgMF4GRGm_P8q.jpg?r=db3pg");
}

#mother{
  box-shadow: 0px 0px 150px -45px rgba(148, 255, 235, 0.7);
  margin-bottom: 150px;
}
#mother:hover {
  box-shadow: 0px 0px 120px -55px rgba(148, 255, 235, 0.7);
}





.fast-9_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABcWfObbFFIqXROvWhicMn4Hd1fQGmGNNfuSCx9fxd8G1XuWujlTQtp0CWtIGUk2eWtfKnZxVO5kQu-cg_sav0Tkf65CfXGpey7qb.jpg?r=ecc");
}

#fast-9{
  box-shadow: 0px 0px 150px -45px rgba(255, 237, 38, 0.929);
  margin-bottom: 150px;
}

#fast-9:hover {
  box-shadow: 0px 0px 120px -55px rgba(255, 237, 38, 0.929);
}




.rnotice_back {
  background: url("https://occ-0-3891-769.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQu9mse0lSb9MtIXnowfBtmd6q_g_5bdhpYWNxFjVNF76JyhXUZudM5h7rZG3eIP_m9acUlTRss79HUoxXlTxtYf_6JfKJE6g9if.jpg?r=590");
}

#rnotice{
  box-shadow: 0px 0px 150px -45px rgba(243, 36, 53, 0.929);
  margin-bottom: 150px;
}

#rnotice:hover {
  box-shadow: 0px 0px 120px -55px rgba(243, 36, 53, 0.929);
}



.matrix_back {
  background: url("https://cdnuploads.aa.com.tr/uploads/Contents/2021/12/09/thumbs_b_c_a07e9bf54f0ea0f29801fcb2362e95dc.jpg?v=095032");
}

#matrix{
  box-shadow: 0px 0px 150px -45px rgba(0, 106, 151, 0.929);
  margin-bottom: 150px;
}

#matrix:hover {
  box-shadow: 0px 0px 120px -55px rgba(0, 106, 151, 0.929);
}



.incept_back {
  background: url("https://media.discordapp.net/attachments/1058459177992859719/1116413304903041104/6270df2086b24712bcf8ae40.png?width=1278&height=662");
}

#incept{
  box-shadow: 0px 0px 150px -45px rgba(125, 228, 212, 0.452);
  margin-bottom: 150px;
}

#incept:hover {
  box-shadow: 0px 0px 120px -55px rgba(125, 228, 212, 0.452);
}


.lord_ring_back {
  background: url("https://cdn.discordapp.com/attachments/1058459177992859719/1116413884690087966/AAAABe9hrAfdtArhc0GSORtgfgM9D72H0tzLxXZXDqC-ZeFGjeioRCbyqvQRdh8txazmrBja1BiyCKWT4Yy6YP02m2F7qL9y0wnXsL4i.png");
}

#lord_ring{
  box-shadow: 0px 0px 150px -45px rgba(208, 205, 122, 0.684);
  margin-bottom: 150px;
}

#lord_ring:hover {
  box-shadow: 0px 0px 120px -55px rgba(208, 205, 122, 0.684);
}



.dark_knight_back {
  background: url("https://cdn.wallpapersafari.com/34/48/smH5it.jpg");
}

#dark_knight{
  box-shadow: 0px 0px 150px -45px rgba(35, 46, 66, 0.929);
  margin-bottom: 150px;
}

#dark_king:hover {
  box-shadow: 0px 0px 120px -55px rgba(35, 46, 66, 0.929);
}




.shawshank_back {
  background: url("https://cdn.discordapp.com/attachments/1058459177992859719/1116414473037684837/MV5BNTYxOTYyMzE3NV5BMl5BanBnXkFtZTcwOTMxNDY3Mw.png");
}

#shawshank{
  box-shadow: 0px 0px 150px -45px rgba(93, 105, 61, 0.929);
  margin-bottom: 150px;
}

#shawshank:hover {
  box-shadow: 0px 0px 120px -55px rgba(93, 105, 61, 0.929);
}






.godfather_back {
  background: url("https://w0.peakpx.com/wallpaper/557/513/HD-wallpaper-the-godfather-marlon-brando-vito-corleone.jpg");
}

#godfather{
  box-shadow: 0px 0px 150px -45px rgba(120, 108, 13, 0.929);
  margin-bottom: 150px;
}

#godfather:hover {
  box-shadow: 0px 0px 120px -55px rgba(120, 108, 13, 0.929);
}






footer {
  position: absolute;
   width: 900px;
   border-radius: 20px;
   background-color: rgb(0, 0, 0);
    margin-top: 3500px;
    margin-left: 350px;
    padding: 30px;
    box-shadow: 0px 0px 120px -55px #e50914;
    
 }
 
 footer img {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin: 20px 0 20px 0;
   height: 30px;
   width: auto;
 }
 
 #line {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   width: 500px;
   background-color: gray;
   height: 2px;
   margin-bottom: 30px;
 }
 
 h3 {
   color: darkgray;
   margin-left: 5vw;
 }
 
 #links {
   position: absolute;
   right: 5vw;
  margin-top: -20px;
 }
 
 #links a {
   color: darkgray;
 }
 
 footer span {
   margin-left: 20px;
 }
 
 
div .social_footer {
  font-family: "Merriweather", serif;
  font-size: 0.5rem;
}

p,
a {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 1rem;
  color: #eee;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  font-size: 1rem;
  padding-left: 420px;
}

ul li {
  padding: 0.8rem;
}

.fab {
  font-size: 1.5rem;
}

/* transition for social icon hover animation */
.fa-facebook,
.fa-instagram,
.fa-github {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.fa-twitter:hover,
.fa-twitter:focus {
  color: #1da1f2;
  transform: scale(1.1);
}


.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color: #000;
  transform: scale(1.1);
}

.fa-github:hover,
.fa-github:focus {
  color:#bd22a2;
  transform: scale(1.1);
}

.link {
  display: block;
  text-align: center;
  color: #777;
  text-decoration: none;
  padding: 10px;
}

















.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid #06D85F;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}


.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

